<div class="header-controls" [formGroup]="newform">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Add A New Outbreak</mat-label>
    <input matInput formControlName="newoutbreakName" id="newOutBreakName" placeholder="Outbreak Name" />
  </mat-form-field>
  <button mat-button
    mat-flat-button matSuffix
    [disabled] ="!(aclRules('admin') || aclRules('supervisor'))"
    color="primary" (click)="add()">Add
  </button>
</div>

<div [formGroup]="form">


  <div class="card">
    <div class="card-body">
      <div id="table" class="table-editable" style="padding-bottom: 5rem">
        <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" (click)="add()"></a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th>ID</th>
              <th>Outbreak Name</th>
              <th>Active</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-txt-blue">
            <tr *ngFor="let out of outbreakData; let i = index">
              <td class="style">
                <span>{{out.id}}</span>
              </td>
              <td class="style">
                <div class="col-md-6 col-xs-12">
                  <input class="form-control form-control-lg" *ngIf="out.editable" formControlName="outbreakName"
                    required />
                  <ng-container *ngIf="!out.editable">{{out.outbreakName}}</ng-container>
                </div>
              </td>
              <td class="style">
                <ng-container *ngIf="out.editable">
                  <mat-checkbox
                    formControlName="status"
                    class="checkbox-value col-md-7 col-xs-7"
                    [checked]="out.status"></mat-checkbox>
                </ng-container>
                <ng-container *ngIf="!out.editable">
                  <mat-checkbox
                    class="checkbox-value col-md-7 col-xs-7"
                    [checked]="out.status"
                    disabled></mat-checkbox>
                </ng-container>
                <!-- <ng-container *ngIf="!out.editable">{{out.status==true?'Active':'Inactive'}}</ng-container> -->
                <!-- <mat-checkbox
                    class="checkbox-value col-md-7 col-xs-7"
                    [checked]="out.status == true ? true : false"
                    disabled="!out.editable"
                     ></mat-checkbox> -->
              </td>
              <td class="style">
                <span>
                  <button *ngIf="!out.editable" mat-button
                    mat-flat-button
                    color="primary" (click)="edit(i)">Edit</button>
                  <button *ngIf="out.editable" mat-button
                    mat-flat-button
                    color="primary" (click)="save(i)">Save</button>
                  &nbsp;
                  &nbsp;
                  <button *ngIf="out.editable" mat-button
                    mat-flat-button
                    color="primary" (click)="cancel(i)">Cancel</button>

                </span>
              </td>
            </tr>
          <tbody class="table-txt-blue">
        </table>
      </div>
    </div>
  </div>

</div>
