@import 'src/styles/_typography.scss';

// table {
//     border-collapse: collapse;
//     width: 100%;
//   }
//   td,th{
//     border: 1px solid #ddd;
//     padding: 8px;
//     background-color:#fafaf9

//   }
//   tr:hover {background-color: #ddd;}
//   input {
//     width: 50%;
//     padding: 12px 20px;
//     margin: 2px 0;
//     display: inline-block;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
//   }
//   label {

//     color: rgb(0, 0, 0);
//     width: 50%;
//     padding: 8px;
//     font-family: Arial;
//   }

//   .table-header {
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-between;
//     background-color:#fafaf9;
//     padding: 1rem;
//     padding-bottom: 0;
//     border: 1px solid #dddbda;
//     border-radius: 3px 0 0 3px;
//     border-bottom: none;
//     clear: both;
//     $iconSize: 42px;

//     &-details {
//       display: flex;
//       align-items: flex-start;
//     }

//     &-title {
//       font-size: 12px;
//       @extend .font-400;
//     }

//     &-subtitle {
//       font-size: 18px;
//       @extend .font-600;

//       mat-form-field {
//         margin-top: -20px;
//         width: 400px;
//       }
//     }

//     &-icon {
//       font-size: $iconSize;
//       width: $iconSize;
//       height: $iconSize;
//       color: #376dc8;
//       margin-right: 8px;
//     }
//   }

//   tbody {
//       display:table;
//       height:500px;
//       width: 1350px;
//       overflow:scroll;

//       input {
//         width: 100%;
//         padding: 12px 20px;
//         margin: 8px 0;
//         display: inline-block;
//         border: 1px solid #ccc;
//         border-radius: 4px;
//         box-sizing: border-box;
//       }

//   }
//   thead, tbody tr {
//       display:table;
//       width:100%;
//       table-layout:fixed;/* even columns width , fix width of table too*/
//   }
//   // thead {
//   //     width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
//   // }
//   // table {
//   //     width:400px;
//   // }



.table-editable {
  padding: 20px 20px 5rem;
  background: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

thead th {
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
  font-weight: 500;
  overflow:hidden;
  padding: 16px;
  text-align: left;
}

thead tr > th {
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

tbody td {
  font-size: 14px;
}
